# Release notes

{{#unless vars.hide_content}}
This Handlebars condition is used to hide content.
In release notes, this condition hides content that describes an unreleased patch for a released minor.
{{/unless}}
This topic contains release notes for Tanzu Application Platform v1.2.


## <a id='1-2-0'></a> v1.2.0

**Release Date**: July 12, 2022

### <a id='1-2-new-features'></a> New features


This release includes the following changes, listed by component and area.


#### <a id="app-acc-features"></a> Application Accelerator

- [Accelerator fragments](./application-accelerator/creating-accelerators/composition.md) are now available.
  - Allows for re-usable accelerator fragments to be imported into other accelerators.
- [Tanzu Application Accelerator for VS Code Extension](./application-accelerator/vscode.md#vs-code-app-accel-install) is now available.
  - Allows for developers to quickly generate projects from their organization's Accelerator Catalog right from within VS Code.
- Added the `subPath` field for [Accelerators](./application-accelerator/creating-accelerators/accelerator-crd.md#accelerator-crd-spec) and [Fragments](./application-accelerator/creating-accelerators/accelerator-crd.md#fragment-crd-spec).
  - Provides the option for altering the location of the root of an accelerator or fragment.

#### <a id="alv-features"></a>Application Live View

- Live Hover Integration with Spring Tools Suite:
  - Users can hover over Spring Actuator endpoints to see live data. You can enable his feature from Preferences.

#### <a id="app-sso-features"></a>Application Single Sign-On

- Application Single Sign-On package comes installed with iterate, run, and full profiles.
- Secure a workload with AppSSO. For more information, see [AppSSO documentation](https://docs.vmware.com/en/Application-Single-Sign-On-for-VMware-Tanzu/1.0/appsso/GUID-app-operators-register-an-app-with-app-sso.html).
- AppSSO Starter Java Accelerator shows how to enable SSO on a Spring Boot application.
- OpenID Connect Identity Providers are supported.
- Grant types supported: authorization code, client credentials, refresh token.
- Audit logs for troubleshooting.
- Secure tokens - Token signature keys are created and applied to AuthServer so that tokens can be signed and verified.
- TLS secured.

#### <a id="apps-plugin"></a> Tanzu CLI - Apps plug-in

- Added support for [`--sub-path`](cli-plugins/apps/command-reference/commands-details/workload_create_update_apply.md#a-idapply-subpatha---sub-path) flag where users can specify a relative path inside the repository or image to treat as application root for source.
- Added [`--service-account`](cli-plugins/apps/command-reference/commands-details/workload_create_update_apply.md#a-idapply-service-accounta---service-account) flag to specify ServiceAccount name used by the workload to create resources submitted by the supply chain.
- Added shorthand `-s` for [`--source-image`](cli-plugins/apps/command-reference/commands-details/workload_create_update_apply.md#a-idapply-source-imagea---source-image--s) flag.
- Added support for [`--output`](cli-plugins/apps/command-reference/commands-details/workload_list.md#a-idlist-outputa---output--o) flag to `workloads list` command.
- Added support for json/yaml params using new flag [`--param-yaml`](cli-plugins/apps/command-reference/commands-details/workload_create_update_apply.md#a-idapply-param-yamla---param-yaml).
- Added support for creating workloads from `jar/war/zip` files through the [`--local-path`](cli-plugins/apps/command-reference/commands-details/workload_create_update_apply.md#a-idapply-local-patha---local-path) flag.
- Added source information from workload  in the `workload get` command output.
- Added New command [`tanzu apps cluster-supply-chain get`](cli-plugins/apps/command-reference/tanzu-apps-cluster-supply-chain-get.md).
- Added support for excluding files on local path using `.tanzuignore` file.
- Added supply chain step information in `workload get` command output.
- Added support for short names for Cartographer workload (wld) & cluster-supply-chain commands (csc).
- Added support for providing ServiceAccount name in workload commands through file input.

#### <a id="src-cont-features"></a>Source Controller

- Added support for pulling Artifacts from a Maven repository using the `MavenArtifact` CR.
- **Note:** Fetching `RELEASE` version from GitHub packages is not currently supported. The metadata.xml in GitHub packages does not have the `release` tag that contains the released version number. For more information, see [Maven-metadata.xml is corrupted on upload to registry](https://github.community/t/maven-metadata-xml-is-corrupted-on-upload-to-registry/177725) on GitHub.

#### <a id="snyk-scanner"></a> Snyk Scanner (beta)

- Snyk scanner image scanning integration (Beta) is available for [Supply Chain Security Tools - Scan](#scst-scan).
  - See [Snyk Installation and Configuration Guide](scst-scan/install-snyk-integration.md) for instructions on how to use Snyk with Tanzu Application Platform Supply Chains.

#### <a id="scc-features"></a>Supply Chain Choreographer

- View resource status on a workload:
  - Added ability to indicate how Cartographer can read the state of the resource and reflect it on the owner status.
  - Surfaces information about the health of resources directly on the owner status.
  - Adds a field in the spec `healthRule` where authors can specify how to determine the health of the underlying resource for that template. The resource can be in one of the following states: A stamped resource can be in one of three states: 'Healthy' (status True), 'Unhealthy' (status False), or 'Unknown' (status Unknown). If no healthRule is defined, Cartographer defaults to listing the resource as `Healthy` once it is successfully applied to the cluster and any outputs are read off the resource.
- [Cartographer Conventions](./cartographer-conventions/about.md) v0.1.0 is now bundled with Supply Chain Choreographer.
  - As of v0.07.0 release of [Convention Controller](./convention-service/about.md), it's APIs are deprecated in favor of continuing development on [Cartographer Conventions](./cartographer-conventions/about.md). Cartographer Conventions is now bundled with Supply Chain Choreographer.

#### <a id="scst-scan"></a> Supply Chain Security Tools - Scan

- Scan-Link's controller abstraction from the scanners' output format allows more flexibility when you integrate new scanners.
- Supply Chain Security Tools - Scan is decoupled from the Supply Chain Security Tools - Store to ease future integration with different storage methods.
- Beta scanner support released in the [Snyk Scanner](#snyk-scanner) package.
- [Documentation available](scst-scan/offline-airgap.md) on how to use Grype in offline and air-gapped environments.

>**Note:** The Grype Scanner `ScanTemplate`s shipped with versions before Supply Chain Security Tools - Scan `v1.2.0` are now deprecated and are no longer supported in future releases. See [Upgrading Supply Chain Security Tools - Scan](scst-scan/upgrading.md#upgrade-to-1-2-0) for step-by-step instructions.

#### <a id="scst-sign-features"></a>Supply Chain Security Tools - Sign

- Updated cosign to v1.9.0.
- Fixed resources without namespace defined causing errors.

>**Important:** Supply Chain Security Tools - Sign is being deprecated and is being replaced
by Supply Chain Security Tools - Policy Controller.
Supply Chain Security Tools - Sign is longer supported after
Tanzu Application Platform v1.4.0. See [Migration From Supply Chain Security Tools - Sign](scst-policy/migration.md)
for migration instructions.

#### <a id="scst-policy-features"></a>Supply Chain Security Tools - Policy Controller

- Initial release of Policy Controller, which uses Sigstore Policy Controller.

#### <a id="scst-store-features"></a>Supply Chain Security Tools - Store

- Added more accepted vulnerability method types (CVSSv31, OWASP).
- Updated logging format to follow the Logging RFC recommendations.
- Bumped PostgreSQL and paketo images to fix CVE-2022-1292.
- Added support for insight plug-in to consume vulnerabilities through VEX in CycloneDX 1.4 reports.
- Added support for insight plug-in to consume SPDX 2.2/3.0 reports and introduced new --spdxtype option to tanzu insight image/source add command.
- Changed insight plug-in text response to return only highest CVE.
- Added aliases for insight plug-in vulnerabilities command.

#### <a id="tap-gui-features"></a>Tanzu Application Platform GUI

- Supply Chain plug-in:
  - Added ability to visualize CVE scan results in the Details pane for both Source and Image Scan stages, as well as scan policy information without using the CLI.
  - Added ability to visualize the deployment of a workload as a deliverable in a multicluster environment in the supply chain graph.
  - Added a deeplink to view approvals for PRs in a GitOps repository so that PRs can be reviewed and approved, resulting in the deployment of a workload to any cluster configured to accept a deployment.
  - Added Reason column to the Workloads table to indicate causes for errors encountered during supply chain execution.

#### <a id="dev-tls-vsc-features"></a>Tanzu Developer Tools for VS Code

- **View workload statuses:** You can see the status of your workloads from the Workload Panel.
For more information, see
[Using the Tanzu Dev Tools Extension](vscode-extension/using-the-extension.md).
- **Apply and Delete workload commands:** You can run **Tanzu: Apply Workload** and
**Tanzu: Delete Workload** from the Command Palette. For more information, see
[Using the Tanzu Dev Tools Extension](vscode-extension/using-the-extension.md).
- **Live Hover Integration with Spring Tools Suite:** You can point to Spring annotations and see
the live data from a running Spring Boot application by way of Spring Boot Actuator endpoints.
For more information, see
[Live Hover integration with Spring Boot Tools (Experimental)](vscode-extension/live-hover.md).

#### <a id="dev-tls-intelj-features"></a>Tanzu Developer Tools for IntelliJ

- **Live Update and Debug your workloads:** The new IntelliJ extension enables you to Live Update and
Debug your workloads.
For more information, see [VMware Tanzu Developer Tools for IntelliJ](intellij-extension/about.md).

#### <a id="functions-features"></a> Functions (beta)

- Live Update and Debug your Java functions. For more information, see [Iterate on your function](workloads/iterate-functions.md).

#### <a id="tbs-features"></a> Tanzu Build Service

- Updates to dependencies are now provided as part of Tanzu Application Platform patches.
- The automatic dependency update feature is being deprecated.
VMware discourages configuring Tanzu Application Platform with automatic dependency updates due to compatibility risks.
This feature is still supported until stated otherwise.

#### <a id="srvc-toolkit-features"></a> Services Toolkit

- Services Toolkit now integrates with Amazon RDS using the ACK Operator or Crossplane.
For more information, see the [Services Toolkit documentation](https://docs.vmware.com/en/Services-Toolkit-for-VMware-Tanzu-Application-Platform/0.7/svc-tlk/GUID-use.html).
- New `ClusterInstanceClass` supports service instance abstraction.
It is available using `tanzu service classes list` in `v0.3.0` of the Services plug-in for Tanzu CLI.
- Claimable resources are now discoverable through the `InstanceQuery` API.
It is available using `tanzu service claimable list --class <class>` in `v0.3.0` of the Services plug-in for Tanzu CLI.
- ResourceClaims now aggregate on ClusterRoles for service resources with the standard
`servicebinding.io/controller: "true"` label from the [Service Binding specification for Kubernetes](https://github.com/servicebinding/spec).
- Deprecation warning: `tanzu service types list` and `tanzu service instances list` commands are now
deprecated. These commands are hidden from help text but remain functional if invoked.
VMware intends to continue to support these commands for either two additional minor releases
(v0.6.0 of the CLI plug-in) or after one year (2023-07-12), whichever comes later.
VMware recommends using `tanzu service class` and `tanzu service claimable` commands in place of
`tanzu service type` and `tanzu service instance` from now on.

### <a id='1-2-breaking-changes'></a> Breaking changes

This release has the following breaking changes, listed by area and component.

#### <a id="scst-scan-changes"></a> Supply Chain Security Tools - Scan

- You must configure integration with Supply Chain Security Tools - Store for the Grype Scanner and Snyk Scanner packages to enable this feature. The configuration for Supply Chain Security Tools - Store in Supply Chain Security Tools - Scan is only for the deprecated Grype Scanner `ScanTemplate`s.
- For the profile configuration of Supply Chain Security Tools - Scan, the scanning component no longer takes the metadata store configurations as of v1.2.0.
  - For information about configuring metadata store by using the Grype component instead of the scanning component as of v1.2.0, see [Install multicluster Tanzu Application Platform profiles
](multicluster/installing-multicluster.md).
  - See [Build profile](multicluster/reference/tap-values-build-sample.md) for the deprecated way of writing the metadata store configuration through the scanning component.

  >**Note:** This doesn't apply if you are using the deprecated Grype Scanner `ScanTemplate`s prior to Grype Scanner `v1.2.0`.

  - The package name changed from `package policies` to `package main`.
  - The deny rule changed from the boolean `isCompliant` to the array of strings `deny[msg]`.
  - The sample `ScanPolicy` is different if you're using Grype Scanner with a CycloneDX structure or Snyk Scanner with a SPDX JSON structure. See [Install Snyk Scanner](scst-scan/install-snyk-integration.md) for an example of a Scan Policy.
  - See [Enforce compliance policy using Open Policy Agent](scst-scan/policies.md) for an example of the current ScanPolicy format for v1.2.0 and later.

#### <a id="tbs-breaking-changes"></a> Tanzu Build Service

>**Note:** If your Tanzu Application Platform v1.1 installation is configured with
`enable_automatic_updates: false`, you can ignore this breaking change.

When upgrading Tanzu Application Platform to v1.2, Tanzu Build Service image
resources automatically run a build that fails due to a missing dependency.
This error does not persist and subsequent builds automatically resolve this error.
Users can safely wait for the next build of their workloads, which is triggered
by source code changes.
To manually re-run builds, follow the instructions in the troubleshooting item
[Builds fail after upgrading to Tanzu Application Platform v1.2](tanzu-build-service/troubleshooting.md#tbs-1-2-breaking-change).

#### <a id="grype-scanner-changes"></a> Grype Scanner

- Provide information to integrate with the Supply Chain Security Tools - Store in the `tap-values.yaml` file for the Grype Scanner `v1.2+`.

### <a id='1-2-resolved-issues'></a> Resolved issues

The following issues, listed by area and component, are resolved in this release.


#### <a id="app-acc-resolved"></a> Application Accelerator

- Limit server logging to startup and generate zip requests.
- Update engine to use Spring Boot v2.7.0.

#### <a id="scst-scan-resolved"></a>Supply Chain Security Tools - Scan

- `Go` updated to version `v1.18.2`.
- `Open Policy Agent` updated to version `v.0.40.0`.

#### <a id="grype-scan-resolved"></a>Grype Scanner

- `ncurses` updated to version `6.1-5.ph3`.

#### <a id="apps-plugin-resolved"></a> Tanzu CLI - Apps plug-in

- Updated output for list when there are no workloads. It now shows a more user-friendly message `No workloads found.`
- Fixed error messaging for empty kubeconfig and invalid kube context.
- Fixed incorrect error message for `workload create` when the user did not have enough permissions to create a workload.
- Removing namespace from `--service-ref` is not ignored.
- Issue for Windows error x509: certificate signed by unknown authority by upgrading imgpkg versions v0.29.0. The new version supports loading Windows root CA certificates.

#### <a id="srvc-toolkit-resolved"></a> Services Toolkit

- ResourceClaims no longer mutate service resources with an annotation to mark a claimed resource.
- ResourceClaims no longer require the `update` permission when adding new service resources to Tanzu Application Platform.

#### <a id="srvc-bindings-resolved"></a> Service Bindings

- Added a new ClusterRole `service-binding-provisioned-services`  with label selector `servicebinding.io/controller: "true"` for get, list, and watch, which fixes the issue where Service Binding controller was aggregating non-provisioned service RBAC to the controller manager.

#### <a id="sprng-convs-resolved"></a> Spring Boot Conventions

- No environment variables are added if conventions are not applied. Fixes the issue where `JAVA_TOOL_OPTS` was added to non-JAVA apps.
- Controller does not error out if no image metadata is present. Fixes the edge case when the image metadata is missing.

#### <a id="tap-gui-resolved"></a>Tanzu Application Platform GUI

- Supply Chain plug-in:

  - **Details for ConfigMap CRD now appear as expected:** The error
  `Unable to retrieve conditions for ConfigMap...` no longer appears in the details section after
  clicking on the ConfigMap stage in the graph view of a supply chain.
  - **Scan results now appear as expected:** Current CVEs found during Image or Source scanning now
  appear as expected.

### <a id='1-2-known-issues'></a> Known issues

This release has the following known issues, listed by area and component.

#### <a id="tap-known-issues"></a>Tanzu Application Platform

- **Failure to connect to AWS EKS clusters:**
When connecting to AWS EKS clusters, an error might appear with the text
`Error: Unable to connect: connection refused. Confirm kubeconfig details and try again` or
`invalid apiVersion "client.authentication.k8s.io/v1alpha1"`.
To prevent this, see
[Failure to connect to AWS EKS clusters](troubleshooting-tap/troubleshoot-using-tap.md#connect-aws-eks-clusters).

#### <a id="alv-known-issues"></a>Application Live View

- Application Live View with custom CA does not support air-gapped installation.

#### <a id="alv-ca-known-issues"></a>Application Single Sign-On

- Application Single Sign-On with custom CA does not support air-gapped installation.

#### <a id="conv-svc-known-issues"></a>Convention Service

- **Issue:**
  If the self-signed certificate authority (CA) for a registry is provided through `convention-controller.ca_cert_data`, it is not successfully propagated to the convention service.

  **Workaround:**
  Define the CA using the available `.shared.ca_cert_data` top-level key to supply the CA to the convention service.

#### <a id="functions-issues"></a> Functions (beta)

- When using Live Update, hot reload of your function on your cluster might not
display changes made to your function.
To manually push changes to the cluster, run the `tilt up` command.

#### <a id="scst-scan-issues"></a>Supply Chain Security Tools - Scan

**Blob Source Scan is reporting wrong source URL:**
- When running a Source Scan of a blob compressed file, it looks for a `.git` directory present in the files to extract information that is usefull for the report sent to the Supply Chain Security Tools - Store deployment. This problem happens when you use Grype Scanner ScanTemplates earlier than version `v1.2.0` because the Scan Controller has a deprecated path to support previous ScanTemplates. This will be removed by Supply Chain Security Tools - Scan `v1.3.0`.

- Workaround: Upgrade your Grype Scanner deployment to version `v1.2.0` or later. For more information, see [Upgrading Supply Chain Security Tools - Scan](scst-scan/upgrading.md#upgrade-to-1-2-0).

#### <a id="grype-scan-known-issues"></a>Grype scanner

**Scanning Java source code may not reveal vulnerabilities:**
- Source Code Scanning only scans files present in the source code repository.
No network calls are made to fetch dependencies.
For languages using dependency lock files, such as Golang and Node.js,
Grype uses the lock files to check the dependencies for vulnerabilities.

- For Java, dependency lock files are not guaranteed, so Grype uses
the dependencies present in the built binaries (`.jar` or `.war` files) instead.

- Because VMware discourages committing binaries to source code repositories,
Grype fails to find vulnerabilities during a Source Scan.
The vulnerabilities are still found during the Image Scan
after the binaries are built and packaged as images.

#### <a id="tap-gui-known-issues"></a>Tanzu Application Platform GUI

- Supply Chain plug-in:
    - Delivery section of the supply chain graph might show deliverables that do not pertain to the selected workload. This occurs if there are more than one `Build` cluster per namespace.
    - For `Deliverables` to show up for a `Workload`, they must have the following labels in both resources:'carto.run/workload-name','app.kubernetes.io/part-of','carto.run/supply-chain-name'.
    - ConfigMap has no conditions and as a result its status is `Unknown`.
    - ConfigWriter shows an error but no error details are displayed.
    - Source Scan stage vulnerabilities table displays "No records to display" even though there are CVEs in the source scan.
    See [Troubleshoot TAP GUI](tap-gui/troubleshooting.md)

#### <a id="vscode-ext-known-issues"></a>VS Code Extension

- When debugging an application with service bindings, debug sessions might prematurely end on the
first run only. This is because of services being late-bound.

#### <a id="intelj-ext-known-issues"></a>Intellij Extension

- When debugging an application with service bindings, debug sessions might prematurely end on the
first run only. This is because of services being late-bound.

#### <a id="store-known-issues"></a>Supply Chain Security Tools - Store

- Querying by insight source returns zero CVEs even though there are CVEs in the source scan:
When attempting to look up CVE and affected packages, querying `insight source get` (or other
`insight source` commands) may return zero results due to supply chain configuration and repo URL.
See [Troubleshoot Supply Chain Security Tools - Store](scst-store/troubleshooting.md)
