# Install the Tanzu Build Service dependencies

{{> full-deps.html.md.hbs }} 
    
## <a id='next-steps'></a>Next steps

- [Configuring custom CAs for Tanzu Application Platform GUI](tap-gui/non-standard-certs.md)
