# Install the Tanzu Build Service dependencies

<!-- The below partial is in the docs-tap/partials directory -->

{{> 'partials/full-deps' }}

## <a id='next-steps'></a>Next steps

- [Configuring custom CAs for Tanzu Application Platform GUI](tap-gui/non-standard-certs.md)
